<template name="storySubmit">
  <br>
  <div class="alert alert-warning"> This site is a demo. Stories will be deleted on a regular basis.</div>
    {{#autoForm collection="Stories" id="insertStoryForm" type="method" meteormethod="storyInsert"}}
    <fieldset>
      {{> afQuickField name='author'}}
      {{> afQuickField name='content' rows=6}}
    </fieldset>
    <!--<div class="form-group" lang="en">-->
    <div class="form-group">
      {{> reCAPTCHA}}
    </div>
    <button type="submit" class="btn btn-primary submit-button">Save</button>
    {{/autoForm}}
</template>