<template name="header">
    <div class="header center-block">
        <h1 class="text-inverse">Meteor Stories</h1>
        <p class="text-center">A website where anyone can share their stories</p>
        <ul class="list-inline intro-social-buttons text-center margin-base-vertical">
            <li>
                <a href="https://github.com/aurerua/meteor-stories" class="btn btn-default btn-sm"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
            </li>
            <li>
                <a href="https://twitter.com/aurerua" class="btn btn-default btn-sm"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
            </li>
        </ul>
    </div>
</template>